export(
pipe.design
)

import(
ggplot2,
gtools
)

importFrom("grDevices", "rainbow")
importFrom("stats", "pbeta", "rbinom")

S3method(plot,pipe)
S3method(plot,pipe.sim)
S3method(print,pipe)
S3method(print,pipe.sim)
